#landing .abt {
  display: flex;
  gap: 30px;
}

/* Basic styling for the search button */
#landing #search {
  color: black;
  transition: background-color 0.3s ease;
}

/* Style the input box */
#landing #search input[type="text"] {
  padding: 5px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  width: 200px;
  outline: none;
}

#landing .hr {
  color: #31525b;
  width: 10px;
}
#texts {
  color: white;
  size: 50px;
}

/* #body {
  background-color: #b3dee5;
} */
