.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0px auto;
  margin-top: 2vh;
}

/* nextline */
.box {
  border: 1px solid #31525b;
  padding: 20px;
  margin-top: 2vh;
  background-color: #31525b;
}

.text > p {
  width: 60%;
  text-align: center;
  margin: 10px;
}
.text div {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding-right: 40px;
}

/* checkpoint design */

.subtotal {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  gap: 50px;
  width: 50%;
  margin: 0px auto;
  margin-top: 2vh;
  justify-content: right;
}

/* checkout design */
.checkout {
  background-color: #f8e5c4;
  margin-top: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  width: 200px;
  margin: 0px auto;
  margin-top: 5vh;
  border-radius: 10px;
  margin-bottom: 5vh;
}

.checkout:hover {
  /* filter: drop-shadow(10px 7px 10px #ffa101); */
  background-color: #ffa101;
  cursor: pointer;
}
