/* .head {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
} */

.head #comp {
  display: flex;
  background-color: #b3dee5;
  /* backdrop-filter: blur(10px); */
  color: #ffa101;
  padding: 5px;
  margin: 0px auto;
  justify-content: center;
}
.head #comp .nav {
  width: 58%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* border: 1px solid white; */
  position: sticky;
}

.button {
  background-color: #ffa101;
  border: 1px #ffa101 solid;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0.2 0.2 0.2 black;
}
.button:hover {
  background-color: #ffa20186;
  border: 1px #ffa20186 solid;
}
